@import "~bootstrap/scss/bootstrap.scss";
html,
body {
  font-family: "Noto Sans", sans-serif;

  * {
    box-sizing: border-box;
  }
}

.movies {
  list-style-type: none;
  padding: 2rem 0;
  margin: 0;
}
.rick {
  border-radius: 0.5rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
}

.movie {
  margin: 1rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 1;
  height: 300px;
  width: 300px;
  &__header {
    display: block;
    width: 100%;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 56.25%;
    }

    .f8 & {
      background-size: cover;
    }

    .logan & {
      background-size: cover;
    }

    .baby-driver & {
      background-size: cover;
    }
  }

  &__title {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding: 1.2rem;
    margin: 0;
    color: white;
    opacity: 0;
    transform: translateX(10px);
  }

  &__details {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.6);
  }

  &__rating {
    display: block;
    margin-bottom: 0.2rem;
    font-size: 80%;
    opacity: 0.4;

    i {
      display: inline-block;
      margin-right: 0.2rem;
    }
  }
}
